.carousel-container {
	@extend .row, .center-block;
	.carousel{
		.carousel-inner{
			background-color: #000000;
			.carousel-control{
				font-size: 6em;
			}
			a.left{
				background-image: none !important;
			}
			a.right{
				background-image: none !important;
			}

		}
	}
}

.carousel-toolbar{
	@extend .toolbar;
	background-color:$toolbar_color;
	height:51px;
	width:100%;
	div {
		color:white;
		float:left;
		p{
			font-size:1.5em;
			font-weight:300;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}