/********* Footer **********/

.footer {
	@extend .row, .center-block;
	text-align:center;
	width:100%;
	ul {
		padding-left:0;
		list-style:none;
		margin-bottom:30px;
		li {
			display:inline;
			text-align:center;
			margin: 0 35px;
		}
	}
}