.forum-container {
	@extend .center-block;

	.forum-post {
		@extend .panel, .panel-info;
		border:none;

		/******** FORUM HEADING **********/
		.forum-heading {
			color:white !important;
			background-color:#333333 !important;
			height:51px;
			padding: 10px 15px;
			border:none !important;
			div{
				margin:0px;
				position:relative;
				top:50%;
				transform: translateY(-50%);
			}
			.forum-post-title{
				@extend .pull-left;
			}
			.forum-post-date{
				@extend .pull-right;
				font-style:italic;
				p{
					margin:0 !important;
				}
			}
		}

		/******** FORUM BODY **********/
		.forum-body {
			border-style:solid;
			border-color:#e3e3e3;
			border-width:1px;
			border-bottom:none;
			padding:0;

			.forum-user{
				@extend .col-md-3;
				border-right: 1px solid #e3e3e3;
				padding-top:15px;
				
				img{
					@extend .img-responsive;
				}
				.item-name{
					margin-bottom:0px;
					margin-top:5px !important;
				}
				.item-nick{
					font-style:italic;
					color:gray;
					margin-top:0px;
					font-size: 0.9em;
				}
				a{
					margin-top: 10px;
					color:black;
				}
			}

			.forum-content{
				@extend .col-md-9;
				padding:15px;
				h2{
					margin-top:10px	!important;
				}
			}
		}

		/******** FORUM FOOTER **********/
		.forum-footer {
			@extend .panel-footer;
			color:white !important;
			background-color:#ededed !important;
			border:none !important;
			.forum-expand-comments{
				@extend .pull-left;
				button{
					@extend .btn, .btn-link;
				}
			}
			.forum-edit-links {
				@extend .pull-right;
				margin-top:5px;
			}
		}	
	}
}



