//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$hover_color: orange;

html, body {
	height:100%;
	width:100%;
}

a:hover {
	color:$hover_color !important;
}

.container {
	height:100%;
}

.clear{
	clear:both;
}

.panel .panel-body a{
	margin-top:15px;
}

.content-container{
	width:100%;
}