html, body {
	height:100%;
	width:100%;
}

a:hover {
	color:$hover_color !important;
}

.container {
	height:100%;
}

.clear{
	clear:both;
}

.panel .panel-body a{
	margin-top:15px;
}

.content-container{
	width:100%;
}

.glyph-link{
	@extend .btn, .btn-link;
	color:black;
	margin-top:-5px;
	&:hover{
		color:$hover_color;
	}
}

.glyph-align {
	margin-top:2px;
	margin-right:5px;
}

.glyphicon-ok {
	color:green;
}

.availableCheck {
	margin-right:14px;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}