.status {
	@extend .row, .center-block, .panel, .panel-default;
	margin-bottom:0px;
	div{
		@extend .panel-body;
		padding:0px !important;
		h2 {
			margin-top:0px;
		}
		.status-left{
			padding:15px !important;
			@extend .col-md-6, .col-sm-6;
		}
		.status-right{
			padding:15px !important;
			@extend .col-md-6, .col-sm-6;
		}
	}
}

.profile-content {
	@extend .row, .center-block;
	.profile-avatar {
		@extend .pull-left, .col-md-4;
	}
	.profile-info {
		@extend .pull-right, .col-md-8;
	}
}