.tag-container {
	margin: 10px 0px !important;
	ul {
		padding:0 !important;
		margin:0 !important;
		li{
			float:left;
			list-style:none;
			margin:0px 5px 5px 0px;
			button{
				@extend .btn, .btn-primary;
				padding: 2px 12px !important;
				font-size:0.8em;
				span{
					position:relative;
					right:7px;
				}
			}
			.edit-tag{
				@extend .btn-primary;
			}
			.add-tag{
				@extend .btn-success;
			}
			.tag-form{
				@extend .btn, .btn-success;
				border:none;
				input{
					@extend .btn-success;
					color:white;
					padding:0px 5px !important;			
					margin-bottom:2px;
					border:none;
					font-size:0.8em;
					height:100%;
					&:hover{
						background-color:inherit;
					}
					&:-moz-placeholder{
						color:white;
					}
					&::-webkit-input-placeholder{
						color:white;
					}
					&::-moz-placeholder{
						color:white;
					}
				}
			}
		}
	}
}