.toolbar {
	@extend .row, .col-md-12, .center-block; 
	background-color: $toolbar_color;
	height:51px;
	text-align:center;
	div{
		@extend .center-block;
			height:inherit;
			padding:0;
			text-align:center;
		button{
			@extend .btn, .btn-link; 
			color: white;
			padding: 4px 10px 4px 10px;			
			&:hover{
				color:orange !important;
				background-color:black;
				text-decoration:none;			
			}
		}
		a{
			color:white;
			&:hover{
				background-color:black;
				text-decoration:none;
			}
			&:focus{
				color:white !important;
				text-decoration:none;
				border:none;
			}
		}
		div{
			height:inherit;
			float:left;
		}
	}
	
	.toolbar-search {
		display:block;
		width:390px;
		margin:0 auto;
		height:inherit;
		color:white;

		form{
			@extend .form-inline;
			div{
				@extend .form-group;
				input{
					@extend .form-control;
					float:left;
					margin-top:8px;
					width:300px !important;
				}
			}
			button{
				@extend .btn, .btn-default;
				color:black !important;
				float:left;
				margin:10px 0px 0px 5px;
			}
		}
	}
}

.toolbar-glyph {
	@extend .glyphicon;
	margin-right:8px;
}